{%extends 'admin/master.html' %}

{% block body %}
<h1>HypeEats Admin Dashboard</h1>
<p>Look for free icons here: <a href="https://www.flaticon.com/" target="_blank">FlatIcons</a></p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
{% for k,v in menus.items() %}
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{k}}" aria-expanded="true" aria-controls="{{k}}">
          {{k}}
        </a>
      </h4>
      <div id="{{k}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <table>
              <tr>
                <th>Name</th>
                <th>Code</th>
              </tr>
              {% for value in v%}
                <tr>
                  <td>{{value.name}}</td>
                  <td>{{value.value}}</td>
                </tr>
              {% endfor %}
            </table>
        </div>
      </div>
    </div>
</div>
{%endfor%}
</div>

{% endblock body%}